@model dotNETCoreMVCApplication.Models.Supplier

    <hr />
    <h4>Address</h4>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Complemment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Complemment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Supplier.Document)
        </dd>
    </dl>
